[data-bpk-hidden="1"] {
  display: none !important;
}

.bpk-redaction {
  display: inline;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  border-radius: 0.125em;
  background: #000;
  color: transparent !important;
  line-height: inherit;
  text-shadow: none !important;
  caret-color: transparent !important;
  padding: 0 0.125em;
}

.bpk-redaction::selection {
  background: #000;
  color: transparent;
}

[data-bpk-text-wrapper="1"] {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  [data-bpk-hidden="1"],
  [data-bpk-text-wrapper="1"],
  .bpk-redaction {
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
  }
}
